<form action="index.php">
	
	<fieldset>
		<legend>Criteria</legend>
		<label for="ability">Ability</label>
		<input id="ability" name="ability" type="radio" />
	</fieldset>

    <fieldset>    	
		<legend>Value</legend>
    	<label for="value">Value to search for</label>
    	<input name="value" id="value" tabindex="1">
	</fieldset>
	
</form>
